---
import Page from "layouts/Page.astro";
import ElemDetector from "components/elem-detector/ElemDetector";
---

<Page title="Element detector">
    <a href="/" id="back-button">BACK TO THE HELL</a>
    <h1>Element detector</h1>
    <br />
    <ElemDetector client:load />
</Page>

<style lang="less" is:global>
    @import "global-utils.less";

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: rgb(0, 176, 220);
            text-align: center;

            @media screen and (max-width: 600px) {
                margin-top: 3rem;
            }
        }

        h3 {
            text-align: center;

            &.success {
                color: limegreen;
            }

            &.failed {
                color: red;
            }
        }

        input#elems {
            border-radius: 1rem;
            text-align: center;
            padding: 1rem;
            font-size: large;
            box-shadow: inset 0 0 3px 3px rgb(0, 176, 220);
            border-width: 5px;
            border-color: rgb(0, 48, 220);
        }

        #back-button {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            display: block;
            border-radius: 0 0 15px 0;
            padding: 10px;
            background-color: rgba(138, 43, 226, 0.8);
            .on-hover-underline();
        }
    }
</style>
